<md-sidenav class="md-sidenav-left md-whiteframe-z2" role="sidenav" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
  <md-toolbar class="md-tall md-hue-2" layout-align="end end" ng-controller="AuthCtrl">
    <div class="md-toolbar-tools" layout layout-padding>
      <!--<md-icon ng-show="authData">{{data.user.icon}}</md-icon>-->
      <img ng-src="{{authData.facebook.profileImageURL}}" class="md-avatar" style="width: 50px; border-radius:50px" ng-show="authData"/>
      <ng-md-icon icon="facebook-box" size="20" ng-hide="authData"></ng-md-icon>
      <div layout="column" layout-padding>
        <span class="md-body-2" ng-show="authData">{{authData.facebook.displayName}}</span>
        <span class="md-caption" ng-show="authData">{{authData.facebook.email}}</span>
        <span class="md-body-2" ng-hide="authData" ng-click="make_login()">Entrar com facebook</span>
        <span class="md-caption" ng-hide="authData"></span>
      </div>
      <span flex></span>
      <md-button class="md-icon-button" aria-label="User Settings" ng-click="make_logout()" ng-show="authData">
        Sair
      </md-button>
    </div>
  </md-toolbar>
  <md-content role="navigation">
    <md-list ng-repeat="section in data.sidenav.sections">
      <md-list-item ng-click="section.expand = !section.expand">
        <p class="md-subheader md-primary">{{section.name}}</p>
        <span flex></span>
        <md-icon class="md-primary md-icon-button">{{section.expand ? 'arrow_drop_up' : 'arrow_drop_down'}}</md-icon>
      </md-list-item>
      <md-list-item ng-show="section.expand" ng-repeat="action in section.actions">
        <md-icon>{{action.icon}}</md-icon>
        <p class="md-body-2">{{action.name}}</p>
        <span flex></span>
        <md-icon>chevron_right</md-icon>
      </md-list-item>
  </md-content>
</md-sidenav>
